header {
  height: 85vh;
  background-color: teal;
}

footer {
  height: 10vh;
  background-color: teal

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

a {
   font-family: 'Raleway', sans-serif;
 }
section {
  margin-top: 5vh;
  font-family: 'Raleway', sans-serif;
  padding-top: 5vh;
}

li {
  list-style-type: none;
  margin-bottom: 1.5vh;
}

h1 {
  border-bottom-width: inherit;
  border-bottom: 1px solid lightgrey;
}

article p {
  font-size: 3vh;
  margin-bottom: 0;
}

h1.ui.teal.header {
  border-bottom-width: inherit;
  border-bottom: 1px solid lightgrey;
  font-family: 'Montserrat', sans-serif;
}

#my-intro {
  margin-top: 25vh;
}

#my-intro h1 {
  font-size: 10vh;
  margin-bottom: 4vh;
}

#my-intro h2 {
  margin-bottom: 0;
  margin-top: 1vh;
}

#personal-pic {
  padding-left: 0;
}

.travel-img img:hover {
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
}

.imgtext {
  color: white;
  width: 155px;
  height: 135px;
  padding: 50px 15px 0 15px;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.travel-img:hover .imgtext {
  -webkit-opacity: 1;
  opacity: 1;
}

.travel-img {
  margin-top: 7vh;
}

.ui.internally.celled.grid {
  width: inherit;
}

.ui.teal.header {
  font-size: 5vh;
}
.ui.vertical.segment {
  border-bottom: none;
}

#ham-menu {
  display: none;
}

@media (max-width: 768px) {
  .ui.fixed.menu {
    display: none !important;
  }

  #ham-menu {
    display: block;
  }

  #nav {
    display: none;
  }

  #nav.show-header {
    display: block;
  }

  #my-intro {
    margin-top: 5vh;
  }
}
